<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
</head>
<body>
    <h1>Error: Something went wrong!</h1>
    <p><strong>Details:</strong> <%= error.message %></p>
    <pre><%= error.stack %></pre>
</body>
</html>