<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SocialAuth</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <style media="screen">
      body {
        background-color: #f9f9f9;
      }
          
      #fb-btn {
        margin-top: 20px;
      }
          
      #profile, #feed {
        display: none;
        margin-top: 20px;
      }
      
      .black-text {
      color: black !important;
      }

      #logout {
        display: none;
      }
    
      .well {
        background-color: white;
        padding: 15px;
        margin-top: 20px;
      }
    
      #feed .black-text,
      #feed div.well {
        color: black !important;
      }
    </style>
    
  </head>
  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= APP_ID %>',
          cookie     : true,
          xfbml      : true,
          version    : 'v18.0'
        });

        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

       function statusChangeCallback(response){
         if(response.status === 'connected'){
           console.log('Logged in and authenticated');
           setElements(true);
           testAPI();
         } else {
           console.log('Not authenticated');
           setElements(false);
         }
       }

      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

      function testAPI(){
        FB.api('/me?fields=name,email,birthday', function(response){
          if(response && !response.error){
            //console.log(response);
            buildProfile(response);
          }

          FB.api('/me/feed', function(response){
            if(response && !response.error){
              buildFeed(response);
            }
          });
        })
      }

      function buildProfile(user){
        let profile = `
          <ul class="list-group">
            <li class="list-group-item">User Name: ${user.name}</li>
            <li class="list-group-item">User ID: ${user.id}</li>
            <li class="list-group-item">Email: ${user.email}</li>
            <li class="list-group-item">Birthday: ${user.birthday}</li>
          </ul>
        `;

        document.getElementById('profile').innerHTML = profile;
      }

      function buildFeed(feed){
        let output = '<h3 class="black-text" style="color: black;">Latest Posts</h3>';
        for(let i in feed.data){
          if(feed.data[i].message){
            output += `
              <div class="well">
                ${feed.data[i].message} <span>${feed.data[i].created_time}</span>
              </div>
            `;
          }
        }

        document.getElementById('feed').innerHTML = output;
      }

      function setElements(isLoggedIn){
        if(isLoggedIn){
          document.getElementById('logout').style.display = 'block';
          document.getElementById('profile').style.display = 'block';
          document.getElementById('feed').style.display = 'block';
          document.getElementById('fb-btn').style.display = 'none';
          document.getElementById('heading').style.display = 'none';
        } else {
          document.getElementById('logout').style.display = 'none';
          document.getElementById('profile').style.display = 'none';
          document.getElementById('feed').style.display = 'none';
          document.getElementById('fb-btn').style.display = 'block';
          document.getElementById('heading').style.display = 'block';
        }
      }

      function logout(){
        FB.logout(function(response){
          setElements(false);
        });
      }

      function shareOnFacebook() {
        FB.ui({
          method: 'share',
          href: 'https://www.example.com', // The URL to be shared
          quote: 'This is an example quote', // The quote to accompany the URL
        }, function(response){
          // Handling the response here if needed
          if(response && !response.error_message) {
            alert('Successfully shared!');
          } else {
            alert('Error while sharing!');
          }
        });
      }
    </script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="#">SocialAuth</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a id="logout" class="nav-link" href="#" onclick="logout()">Logout</a></li>
            <li class="nav-item" id="fb-btn">
              <fb:login-button scope="public_profile,email,user_birthday,user_posts" onlogin="checkLoginState();"></fb:login-button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-3">
      <h3 id="heading" style="color: black;">This is our Facebook API page</h3>
      <div id="profile"></div>
      <div id="feed"></div>
      <button onclick="shareOnFacebook()" class="btn btn-primary mt-3">Share on Facebook</button>
    </div>
    </body>
    </html>