<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter Integration</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
  <style>
    body {
      background-color: #f9f9f9;
    }
    #message {
      color: black !important;
      margin-top: 20px;
    }
    .container {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">Back</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <div class="container">
    <h3 style="color: black;">Twitter Integration</h3>
    <p id="message" class="black-text"></p>
    <form id="tweetForm">
      <div class="form-group">
        <label for="tweetText" style="color: black;">Write your tweet:</label>
        <textarea class="form-control" id="tweetText" name="tweetText" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" onclick="event.preventDefault(); postTweet()">Post Tweet</button>
    </form>
  </div>

  <script>
    function postTweet() {
      const tweetText = document.getElementById('tweetText').value;
      fetch('http://127.0.0.1:3000/admin/twitter', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ tweetText: tweetText })
      })
      .then(response => response.text())
      .then(data => {
        document.getElementById('message').textContent = data;
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    }
  </script>
</body>
</html>
